@(message: String)

@main("Super title") {

 <h1>  @message </h1>
 
 <form method="POST" action="@routes.Application.addAnimal()">
 	<input type="text" name="name" />
 	<input type="submit" value="add" />
 </form>

}
